.header__titulo{
    color: #f3a9aa;
}
body{
    background-color: white;
}
.subtitulo--bordo{
    color: #60474b;
}
.footer__button{
    background-color: #f3a9aa;
    color: #60474b;
}
.footer__button:hover{
    color:white;
    background-color:#60474b;
}
.descripcion,.libros, .headerSeccion, .descripcion2, .navSection, .footer{
    color:#60474b;
}
.navBar{
    background-color: white;
}
.navSection{
    color: #b2a0a1 ;
}
.navSection:hover{
    color: white;
    background-color: #f3a9aa;
}
.navBar2{
    background-color: white;
}
.navSection2:hover{
    background-color: #60474b;
    color: white;
}
.menuHamburguesa{
    background-color: white;
    color: #60474b;
}
.menuHamburguesa:hover{
    color:white;
    background-color:#60474b;
}