@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

.footer__button, .navSection, .navSection2{
    font-family:'Raleway', serif;
    text-transform: uppercase;
}
.header__titulo{
    font-family: 'Cormorant Garamond', serif;
    text-transform: none;
}
.headerSeccion{
    font-family:'Raleway', serif;
    text-transform: uppercase;
}
.campos{
    font-family:'Raleway', serif;
    font-weight: normal;
}
.footer, .dLibro , .descripcion{
    font-family: 'Cormorant Garamond', serif;
}
.subtitulo--bordo, .nombreLibro, .nombre {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}
.tituloSeccion{
    font-family:'Raleway', sans-serif;
    font-weight: bold;
}
.libros{
    @extend.tituloSeccion;
}