@import "colores";
@import "fuentes";
$fontTitle: 35px;
$fontSub: 25px;
$letterSpacing: 5px;
$margin: 15px 15px;
$padding: 20px;
$padding2: 15px;


* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none; 
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*ESTILO DEL HEADER DE LA PAG PRINCIPAL*/
.header__titulo{
    font-size: $fontTitle;
    letter-spacing: $letterSpacing;
    padding: $padding;
    margin: $margin;
    text-align: center;
    font-weight: lighter;
}
.subtitulo--bordo{
    padding: $padding2;
    text-align: center;
    font-size: $fontSub;
    text-decoration: none;
}
/*este es el padding del carrousel*/
#carouselExampleControls{
    padding: $padding;
}
/*estos son los estilos de los videos*/
.presentacion__video{
    border-radius: 50%;
    padding: 25px;
    transition: all 1s;
}
.presentacion__video:hover{
    border-radius: 80%;
    padding: 15px;
}
.presentacion__video2{
    background-size: cover;
    background-position: center;
    margin: 40px;
    width: 500px;
    height: 300px;
}
/*caracteristicas de botones*/
%button{
    border-radius: 20px;
    width: auto;
    letter-spacing: $letterSpacing;
    padding: $padding2;
}
.menuHamburguesa{
    @extend %button;
    padding: 10px;
}
.footer__button{
    border-radius: 20px;
    padding: $padding2;
    letter-spacing: $letterSpacing;
    text-decoration: none;
    margin: 100px;
}
.modalButton{
    @extend .footer__button;
    padding: 10px;
    font-size: 15px;
    margin: $margin;
}
/*caracteristicas de img*/
%imgTypes {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.img{
    @extend .presentacion__video;
}
.imagen{
    @extend %imgTypes;
    padding: $padding2;
    width: 30%;
    height: 50%;
}
.imagenT{
    background-size: cover;
    background-position: center;
    padding: $padding2;    
}
/*caracteristicas de las navbar*/

.navBar2{
    padding: $padding2;
    justify-content: center;
}
.navBar{
    @extend .navBar2;
}
@media screen and (max-width: 991px) {
    .navBar2, .navBar {
      justify-content: start;
    }
}
.navSection{
    font-weight:bolder;
    letter-spacing: 2px;
    padding: 10px;
}
.navSection2{
    @extend .navSection;
}
.navSection2:hover{
    font-weight: bolder;
}
.navSection:hover{
    font-weight: bolder;
}
/*caracteristicas de los titulos de secciones, objetos, subtitulos, footers y formulario*/
.nombreLibro{
    font-size: $fontSub;
    padding: $padding2;
}
.footer{
    font-size: $fontSub;
    padding: 70px;
}
.dLibro{
    font-size: 20px;
    padding: $padding2;
}
.nombre{
    font-size: $fontSub;
    padding: 50px;
    text-align: center;
}
.campos{
    font-size: 20px;
    padding: $padding2;
}
.libros, .tallers{
    @extend .descripcion;
}
.descripcion2{
    @extend .descripcion;
    font-size: 17px;
}
.headerSeccion{
    font-size: $fontTitle;
    letter-spacing: $letterSpacing;
    padding: $padding;
    margin: $margin;
    text-align: center;
    font-weight: lighter;
}
.tituloSeccion{
    @extend .descripcion;
    font-size: $fontSub;
    letter-spacing: $letterSpacing;
    font-weight: bolder;
}
.descripcion{
    padding: 40px;
    text-align: center;
    font-size: 25px;
}
/*esta es la animacion de los headers y titulos de secciones*/ 
.animate__animated .animate__fadeIn {
    --animate-duration: 3s;
}
.animate__animated .animate__fadeInDown{
    --animate-duration: 1s;
    animation-delay: 10s;
}
.tituloSeccion{
    @extend .descripcion;
    font-size: $fontSub;
    letter-spacing: $letterSpacing;
    font-weight: bolder;
}
.descripcion{
    padding: 40px;
    text-align: center;
    font-size: 25px;
}